root = true

[*]
end_of_line = lf
insert_final_newline = false
trim_trailing_whitespace = true

[*.cs]
charset = utf-8-bom
indent_style = space
indent_size = 2

[*.{csproj,sln,json,yml,yaml}]
indent_style = space
indent_size = 2
